
.Signupcontainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .inputSignupcontainer{
    margin-bottom: 20px;
    margin-right: 22px;
  }
  
  .inputSignupcontainer input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .selectSignupcontainer select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button {
    width: 100%;
    padding: 12px;
    background-color: #4c51bf;
    margin-top: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #4338ca;
  }
  
  .link {
    color: #333;
    font-size: 14px;
  }
  
  .link a {
    color: #4c51bf;
    text-decoration: none;
    font-weight: bold;
  }
  
  .link a:hover {
    text-decoration: underline;
  }
  